<section id="page-content">
	<div id="controls-container">
		<div id="move-container">
			<button id="up-btn" class="move-btn">Up</button>
			<button id="down-btn" class="move-btn">Down</button>
			<button id="left-btn" class="move-btn">Left</button>
			<button id="right-btn" class="move-btn">Right</button>
		</div>
		<div id="action-container">
			<button id="action-btn" disabled="true">Place</button>
		</div>
	</div>
</section>

<script type="text/javascript" src="/javascripts/client.js"></script>