<section id="page-content" class="client">
	<div id="wait-message-container" class="full-page">
		<div id="wait-message">Welcome to SUPERBUG</div>
		<form id="player-form" action="#">
			<input type="text" name="player-name" id="player-name" placeholder="Please enter your name">
			<input type="submit" name="submit" id="player-btn" value="CONFIRM">
		</form>

		<div id="wait-instructions">
			<p>Hello <span id="player-name">name of player</span>!</p>

			<p>Your goal is to spread as much as you can in order to overcome your opponent. To do that, you just need to surround his tokens by two of yours. All the tokens in between will change to your color.</p>

			<p>Be fast, be smart, spread as much as you can and help save/destroy the human race!</p>

			<button id="wait-message-btn">READY</button>
		</div>

		<button id="start-btn">START</button>
	</div>

	<div id="controls-container">
		<div id="move-container" class="containers">
			<div id="row-1" class="rows">
				<button id="up-btn" class="move-btn"></button>
			</div>
			<div id="row-2" class="rows">
				<button id="left-btn" class="move-btn"></button><span class="spacer"></span><button id="right-btn" class="move-btn"></button>
			</div>
			<div id="row-2" class="rows">
				<button id="down-btn" class="move-btn"></button>
			</div>
		</div>

		<div id="card-container" class="containers">
			<div id="card"></div>
		</div>

		<div id="action-container" class="containers">
			<button id="action-btn" disabled="true">Place</button>
		</div>
	</div>

	<div id="message-container">
		<div id="turn-info">Waiting for player to join...</div>
		<div id="player-hand"></div>
	</div>
</section>

<script type="text/template" id="card-template">
	<div class="player-card" data-card-index="<%= index %>">
		<%
			_.each(actions, function(el, i){
		%>
				<span class="player-action"><%= el %></span>
		<%
			});
		%>
</div>
</script>

<script type="text/javascript" src="/javascripts/client.js"></script>