<section id="page-content" class="board">
	<h1 id="page-title">Superbug</h1>
	<h2 id="message">Waiting for players...</h2>

	<div id="superbug-canvas"></div>
</section>

<script type="text/javascript" src="/javascripts/main.js"></script>