*{
	box-sizing: border-box;
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}


#page-content{
	text-align: center;

	&.client{
		#message-container{
			#player-hand{
				.player-card{
					cursor: pointer;
					display: inline-block;
					border: 1px black solid;
					height: 300px;
					width: 150px;
				}
			}
		}
	}

	#superbug-canvas{
		display: inline-block;
	}

	#message{
		position: absolute;
		bottom: 0;
		padding-left: 20px;
	}
}